{% include toc-status.html %}

{% if enable_toc %}
  <div class="toc-border-cover z-3"></div>
  <section id="toc-wrapper" class="invisible position-sticky ps-0 pe-4 pb-4">
    <h2 class="panel-heading ps-3 pb-2 mb-0">{{- site.data.locales[include.lang].panel.toc -}}</h2>
    <div class="toc-chapter-nav" data-toc-chapter-nav hidden>
      <button type="button" data-toc-previous aria-label="Previous chapter">
        <i class="fas fa-arrow-left" aria-hidden="true"></i>
      </button>
      <span data-toc-position></span>
      <button type="button" data-toc-next aria-label="Next chapter">
        <i class="fas fa-arrow-right" aria-hidden="true"></i>
      </button>
    </div>
    <nav id="toc"></nav>
  </section>
{% endif %}
